html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #222222;
}

content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid white;
}

#hidden {
  display: none;
}
